node_modules
*.log
.DS_Store
.env
.env.local
.env.production
.env.development
coverage
*.pid
*.seed
*.pid.lock
.nyc_output
.grunt
bower_components
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env.test
.vscode
.idea
*.swp
*.swo
*~
